.form-label {
  padding-left: 10px;
}
.password__text {
  overflow: hidden;
  line-height: 250%;
  padding: unset;
  padding-left: 10px;
  font-size: 100%;
}
.password__text:hover {
  border-color: #ff7900;
}
.password__copy {
  float: right;
}
.errorText {
  background-color: #ff7900;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px #ff790066;
  font-weight: bold;
  color: white;
}
