.password-list {
  margin-top: 20px;
  padding-left: 10px;
}
.password-list__item:hover {
  color: #ff7900;
  text-decoration: underline;
  cursor: pointer;
}
.password-list__item__tag {
  opacity: 0%;
  margin-left: 10px;
  border-radius: 3px;
  background-color: #ff7900;
}
.password-list__item:hover .password-list__item__tag {
  opacity: 30%;
  color: black;
}
.password-list__item__tag--click {
  margin-left: 10px;
  border-radius: 3px;
  background-color: #ff7900;
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
