<div class="password-list">
    <h5>Saved passwords</h5>
    <div *ngIf="passwords().length>0">

        <ul class="password-list__item" *ngFor="let password of passwords()">
            <li id="{{password}}" [cdkCopyToClipboard]="password">
                {{password}}
                <span id="{{password}}"
                    class="badge mr-2 password-list__item__tag{{(clickEmmiter|async)===password?'--click':''}}">
                    {{(clickEmmiter|async)===password?'Copied!':'Copy'}}
                </span>
            </li>

        </ul>

    </div>
    <div *ngIf="passwords().length===0">
        You haven't saved any password yet.
    </div>
</div>