<form class="form">
    <div class="form-group">
        <label for="exampleInputPassword1">{{title}}</label>
        <input 
            type="text" 
            class="form-control" 
            id="exampleInputPassword1" 
            placeholder="Generate your password" 
            value={{password}}
        >
    </div>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn btn-secondary">
          <input ngbButton type="radio" (click)="onGenerate()" [value]="1"> Generate
        </label>
        <label ngbButtonLabel class="btn btn-secondary">
          <input ngbButton type="radio" [value]="2"> Copy
        </label>
    </div>
</form>