<form class="form" [formGroup]="passwordOptions">
  <div class="form-group">
    <label for="exampleInputPassword1">Your secure password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Generate your password"
      value={{password}}>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
      style="margin-top: 10px;text-align: right;display: inherit;" [formControl]="selectedButton">
      <label ngbButtonLabel class="btn btn-secondary">
        <input ngbButton type="radio" (click)="onGenerate()" [value]="1"> Generate
      </label>
      <label ngbButtonLabel class="btn btn-secondary">
        <input ngbButton type="radio" [value]="2" [cdkCopyToClipboard]="password"> Copy
      </label>
    </div>
  </div>
  <div class="form-group row" style="margin-top: 2rem;margin-bottom: 0.25rem;">
    <input type="range" class="form-range" min="8" max="32" id="passwordLenght" formControlName="length"
      style="margin-left: 10px;">
    <label for="passwordLenght" class="form-label" style="padding-left: 10px;">
      Password Length : {{passwordOptions.value.length}}
    </label>
    <div class="col-sm-10" style="margin-top: 10px;">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="upperCheck" formControlName="hasUpperCase">
        <label class="custom-control-label" for="upperCheck">
          Include Uppercase Characters
        </label>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="symbolsCheck" formControlName="hasSymbols">
        <label class="custom-control-label" for="symbolsCheck">
          Include Symbols
        </label>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="numbersCheck" formControlName="hasNumbers">
        <label class="custom-control-label" for="numbersCheck">
          Include Numbers
        </label>
      </div>
    </div>
  </div>
</form>