.btn-group {
  margin-top: 10px;
  text-align: right;
  display: inherit;
}

.form-group.row {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

.form-label {
  padding-left: 10px;
}

.custom-range {
  margin-left: 10px;
}

.upperCase-check {
  margin-top: 10px;
}

.password__text {
  overflow: hidden;
  width: auto;
  float: left;
}
.password__copy {
  float: right;
  height: 100%;
}
