.form-group.row {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

.form-label {
  padding-left: 10px;
}

.custom-range {
  margin-left: 10px;
}

.upperCase-check {
  margin-top: 10px;
}

.limit__input {
  width: 60px;
}
