<form class="form" [formGroup]="passwordOptions">
    <div class="form-group row">
        <div class="form-group">
            <label for="passwordLimit">Nombre de mot de passe</label>
            <div class="col-md-4">
                <input type="number" class="form-control" id="passwordLimit" formControlName="limit">
            </div>
            <span class="badge badge-danger"
                *ngIf="passwordOptionsControl.limit.errors?.min || passwordOptionsControl.limit.errors?.invalidNumber">
                Format Incorrect
            </span>
            <span class="badge badge-danger" *ngIf="passwordOptionsControl.limit.errors?.required">
                Champ obligatoire
            </span>
        </div>
        <input type="range" class="custom-range" min="8" max="32" id="passwordLength" formControlName="length">
        <label for="passwordLength" class="form-label">
            Password Length : {{passwordOptions?.value.length}}
        </label>
        <div class="col-sm-10">
            <div class="custom-control custom-checkbox upperCase-check">
                <input class="custom-control-input" type="checkbox" id="upperCheck" formControlName="hasUpperCase">
                <label class="custom-control-label" for="upperCheck">
                    Include Uppercase Characters
                </label>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="symbolsCheck" formControlName="hasSymbols">
                <label class="custom-control-label" for="symbolsCheck">
                    Include Symbols
                </label>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="numbersCheck" formControlName="hasNumbers">
                <label class="custom-control-label" for="numbersCheck">
                    Include Numbers
                </label>
            </div>
        </div>
    </div>
</form>